<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let user of listaUsuarios">
    <ion-avatar slot="start">
      <img [src]="user.avatar">
    </ion-avatar>
    <div>
      <h1>{{user.first_name}} {{user.last_name}}</h1>
      <a [href]="'mailto:' + user.email">{{user.email}}</a>
    </div>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
